---
page_number: 5
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Web Design - Coder Dojo" description="Web design tutorial for Belfast Coder Dojo." %}
<body>
<div class="container">
    {% include header.html %}
    <div class="row">
        {% include section_nav.html %}

        <article class="col-sm-9">
            <h1>Embedding videos &amp; games</h1>

            <section>
                <a name="embedded-video"></a>
                <h2><i class="fa fa-youtube"></i> Embedded videos</h2>
                <p>
                    Let&rsquo; add some <i>YouTube</i> videos to our web pages.
                    Go to <a href="https://www.youtube.com/" target="_blank">YouTube</a>
                    and find a video related to your content. Click on the <i class="fa fa-share"></i> <i>share</i> button
                    below the video and then open the <i>Embed</i> tab. Copy the HTML code from the box into your own web page.
                    Refresh your browser and the video should appear in your page.
                </p>
                <p>
                    For more detailed instructions go to YouTube&rsquo;s
                    <a href="https://support.google.com/youtube/answer/171780" target="_blank">help page</a>,
                    or watch the following embedded <a href="https://www.youtube.com/watch?v=ZnuwB35GYMY" target="_blank">video</a>.
                </p>
                <div style="width:560px;margin:auto;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZnuwB35GYMY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </section>

            <section>
                <a name="embedded-game"></a>
                <h2><i class="fa fa-gamepad"></i> Embedded games</h2>
                <p>
                    There are many gaming sites that will allow you to embed their games within your own web pages.
                    One of my favourites is <a href="http://www.freegamesforyourwebsite.com/" target="_blank">http://www.freegamesforyourwebsite.com/</a>.
                </p>
                <p>
                    To this site and choose your favourite game. Click on it and then scroll down to the <strong>Embed</strong>
                    section. Hit the <i>Click here to embed this game</i> link and copy the HTML code into your own
                    web page. Refresh your browser and you should find the <a href="http://www.freegamesforyourwebsite.com/game/pixel-quest" target="_blank">game</a> on your page.
                </p>
                <div style="width:640px;margin:100px auto;">
                    <iframe src="http://www.freeonlinegames.com/embed/21869" width="640" height="530" frameborder="no" scrolling="no"></iframe>
                </div>
            </section>

            <div class="nav">
                <a href="{{ site.baseurl }}/page_6.html" class="next-page">Web forms &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </article>
    </div>
</div>
{% include footer.html %}
</body>
</html>
