---
page_number: 7
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Web Design - Coder Dojo" description="Web design tutorial for Belfast Coder Dojo." %}
<body>
<div class="container">
    {% include header.html %}
    <div class="row">
        {% include section_nav.html %}

        <article class="col-sm-9">
            <h1>Deploying to the world wide web</h1>

            <div class="tip">
                <h3>Well done</h3>
                <p style="text-align: center;">
                    <i class="fa fa-flag-checkered"></i> &nbsp; You have now developed your first web site &nbsp; <i class="fa fa-flag-checkered"></i>
                </p>
            </div>
        </article>
    </div>
</div>
{% include footer.html %}
</body>
</html>
