<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{{ include.title }}</title>
    <meta name="description" content="{{ include.description }}"/>

    <meta name="keywords" content="Coder Dojo, Web Design, HTML, CSS, Rob Graham">

    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <!-- More themes: http://bootswatch.com/simplex/ -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- http://fortawesome.github.io/Font-Awesome/ -->
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/css/rouge.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
